PHX_HOST=localhost
PORT=4000
PHX_SERVER=true
SECRET_KEY_BASE=strong_key
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=delivest
DB_PORT=5432
DB_HOST=localhost
MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin
MINIO_ACCESS_KEY=athena_admin
MINIO_SECRET_KEY=StrongMinioPassword!
MINIO_HOST=minio
MINIO_PUBLIC_HOST=localhost
MINIO_PORT=9000
MINIO_PORT_EXTERNAL=9000
MINIO_CONSOLE_PORT_EXTERNAL=9001
MINIO_SCHEME=http://
MINIO_BUCKET=delivest
CLIENT_ORIGIN=http://localhost:3000
DEFAULT_LOCALE=en
